@media only screen and (min-width: 768px) {
  .desktop-view {
    display: block;
  }
  .mobile-view {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .desktop-view {
    display: none;
  }
  .mobile-view {
    display: block;
  }
}
