@keyframes circleTransform {
    from { width:0.5rem; height: 0.5rem; background: #bbb}
    to { width:0.6rem; height: 0.6rem; background: #e7e7e7}
}
@-webkit-keyframes circleTransform {
    from { width:0.5rem; height: 0.5rem;background: #bbb}
    to { width:0.6rem; height: 0.6rem ;background: #e7e7e7}
}
.blog{
  width:100%;
  height: 100%;
  h3{
    margin:1.5rem 4rem;
  }
  .yarn_list{
    margin:0 4rem;
    position: relative;
    .yarn_li{
      margin:1rem 1rem;
      position: relative;
      font-weight: bold;
      color:#000;
      border-bottom: 1px dashed #bbb;
      a{
        margin-left: 1rem;
        font-size: 1rem;
        text-decoration: none;
        color:#000;
      }
      a:hover{
        color:#bbb;
      }
    }
    .yarn_li:before{
      content:" ";
      animation: circleTransform 1s reverse infinite;
      -webkit-animation: circleTransform 1s reverse infinite;
      margin-left:-1.20rem;
      z-index:2;
      position: absolute;
      width:0.5rem;
      height:0.5rem;
      top:0.5rem;
      border: 1px solid #fff;
      border-radius: 50%;
      box-sizing: content-box;
      background: #bbb;
    }

  }
  .yarn_list::after {
    position: absolute;
    top:0;
    left:0;
    width:0.2rem;
    height: 100%;
    content:"";
    background: #e7e7e7;
  }

}

@media(max-width:768px){
.blog{
  h3{
    margin:0.5rem calc(15vw/3.75);
  }
  .yarn_list{
    margin:0.5rem calc(15vw/3.75);
    .yarn_li{
    span{
      font-size: 0.5rem!important;
    }
    a{
      font-size: 0.6rem!important;
    }
  }
  }
}
}
