.travel-map {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  .being-code {
    text-align: center;
    padding-top: 20%;
    color: #fff;
    h1 {
      margin: 0 0 0 0;
    }
  }
}
