@keyframes logoRotate {
  from {transform:rotate(0);}
  to {transform:rotate(360deg);}
}
@-webkit-keyframes logoRotate
{
  from {transform:rotate(0);}
  to {transform:rotate(360deg);}
}
.logo{
      margin: auto;
      width: 100%;
      text-align: center;

  img{
    width: 100%;
    cursor: pointer;
  }
  img:hover{
    animation: logoRotate 1.5s ;
    -webkit-animation: logoRotate 1.5s ;
  }


}
