.home{
  position: absolute;
  width: 10rem;
  height:18rem;
  top:0;
  left:0;
  bottom: 0;
  right:0;
  margin: auto;
  text-align: center;
  p
  {
     font-size: 0.6rem;
      font-weight: bold;
  }
}
