.waitlist {
  margin: 0px auto;
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 60%;
    opacity: 0.8;
    animation: Rotate 1s reverse infinite;
    -webkit-animation: Rotate 1s reverse infinite;
  }
}

@keyframes Rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes Rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .waitlist {
    width: 20%;
    p {
      font-size: 0.5rem;
    }
  }
}

@keyframes circleTransform {
  from {
    width: 0.5rem;
    height: 0.5rem;
    background: #bbb;
  }
  to {
    width: 0.6rem;
    height: 0.6rem;
    background: #e7e7e7;
  }
}
@-webkit-keyframes circleTransform {
  from {
    width: 0.5rem;
    height: 0.5rem;
    background: #bbb;
  }
  to {
    width: 0.6rem;
    height: 0.6rem;
    background: #e7e7e7;
  }
}
